.home-main-container {
  align-self: center;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home-icon-logo {
  height: 10rem;
  width: 10rem;
}

.home-tittle {
  font-size: 2.5rem;
  font-family: Roboto;
  color: #551e53;
}
